:host {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.section-title {
    font-size: 20px;
    font-weight: 500;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    margin: 20px 40px;

    p {
        margin: 0px;
    }

    .right-container {
        border: 2px solid #dee2ec;
        padding: 15px 20px;
        margin: 0 20px 0 0;
        width: 600px;
        height: 350px;

        background-color: white;

        radar-chart {
            width: 100%;
        }
    }

    .left-container {
        .widgets {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .widget {
                width: 200px;
                height: 100px;

                display: flex;
                justify-content: space-around;
                align-items: center;

                margin: 0 10px 10px 10px;
                
                background-color: white;
                border: 2px solid #dee2ec;
            }
        }

        .informations {
            min-height: 200px;

            margin: 10px;
            padding: 10px;
            background-color: white;
            border: 2px solid #dee2ec;
        }
    }
}

.apexcharts-toolbar {
    display: none;
}