<div class="dashboard">
    <div class="right-container">
        <p class="section-title">Last week informations</p>
        <radar-chart
            [dates]='this.dates'>
        </radar-chart>
    </div>
    <div class="left-container">
        <div class="widgets">
            <!-- <app-chart-emotion
                [dates]='this.date1'>
            </app-chart-emotion>
        <div class="widgets">
            <app-chart-emotion
                [dates]='this.date2'>
            </app-chart-emotion>
        <div class="widgets">
            <app-chart-emotion
                [dates]='this.date3'>
            </app-chart-emotion>
        <div class="widgets">
            <app-chart-emotion
                [dates]='this.date4'>
            </app-chart-emotion>
        <div class="widgets">
            <app-chart-emotion
                [dates]='this.date5'>
            </app-chart-emotion>
        <div class="widgets">
            <app-chart-emotion
                [dates]='this.date6'>
            </app-chart-emotion>
        <div class="widgets">
            <app-chart-emotion
                [dates]='this.date7'>
            </app-chart-emotion>
        <div class="widgets">
            <app-chart-emotion
                [dates]='this.date8'>
            </app-chart-emotion>
        </div> -->
        <!-- <div class="informations">
            <p class="section-title">Recommendations for you </p>
        </div> -->
    </div>
</div>