<div class="sign-up-container">
    <h1 class="sign-up-title">Register Wellbeing-app</h1>
    <input class="sign-up-input" type="text" name="fullName" placeholder="Full Name" [(ngModel)]="name" (keypress)="changeValidationToValid()">
    <input class="sign-up-input" type="email" name="email" placeholder="Email" [(ngModel)]="email" (keypress)="changeValidationToValid()">
    <input class="sign-up-input" type="password" name="password" placeholder="Password" [(ngModel)]="password" (keypress)="changeValidationToValid()">
    <input class="sign-up-input" type="password" name="repeatPassword" placeholder="Repeat Password" [(ngModel)]="rePassword" (keypress)="changeValidationToValid()">
    <div class="agreement">
        <input type="checkbox" name="checkbox">
        <label class="sign-up-helper-text">I accept the terms and conditions</label>
    </div>
    <p id="register-error">{{errorMessage}}</p>
    <button class="button-1" type="submit" (click)="register()">Register</button>
</div>