:host {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.sign-up-helper-text {
    color: #6a7284;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    text-align: center;
  }
  
.register-form {
    width: 400px;
    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    flex-wrap: wrap;

    background-color: #fff;
    box-shadow: 0px 3px 5px rgb(106, 114, 132, 0.2);
}

.padded-container {
    padding: 50px 150px;    
}

.sign-up-container {
    width: 400px;
    padding: 20px 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: #fff;
    box-shadow: 0px 3px 5px rgb(106, 114, 132, 0.2);
}
  
.sign-up-container > #register-error, #login-error {
    color: red;
    text-align: center;
}
  
.sign-up-title {
    color: #6a7284;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 3px;
    text-align: center;
}
  
.sign-up-helper-text {
    color: #6a7284;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    text-align: center;
}
  
.agreement {
    display: flex;
    flex-direction: row;

    justify-content: center;

    input[type="checkbox"] {
        width: 20px;
        height: 20px;

        margin: 0 10px;
    }
}
  