<header>
    <div class="logo" (click)="navigateToHome()">
        <div class="circle">W</div>
        <span>Wellbeing-app</span>
    </div>
    <div class="user">
        <div class="circle">
            <p id="header-logo">H</p>
        </div>
        <a class="name" id="header-username">{{name}}</a>
        <button class="button-log-out" (click)="logout()">
            <i class="fa fa-sign-out"></i>
        </button>
    </div>
</header>