:host {
    width: 100%;
    height: 65px;
    z-index: 1000;
}

header {
    width: 100%;
    height: 63px;

    margin: 0;
    border-bottom: 2px solid #dee2ec;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    background-color: #fff;
  }
  
header .logo {
    height: 60px;
    width: auto;
    margin-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
header .logo span {
    margin-left: 15px;
    color: #6a7284;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
  
header .circle {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #55efc4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 25px;
}
  
.user {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
  
.user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #55efc4;
}
  
.user .name {
    margin-left: 15px;
    color: #8a8d94;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
}
  
  
.user button{
      margin-left: 1rem;
      border: none;
      outline: none;
      padding: 0.5rem;
      color: white;
      cursor: pointer;
}
  
.user .arrow {
    width: 10px;
    margin-left: 15px;
    font-size: 14px;
    color: #dee2ec;
    cursor: pointer;
}
  
.user .arrow:hover {
    color: #6a7284;
    transition: 0.3s ease;
}
  
header label {
    width: 33%;
}
  
header label .sign-up-input {
    width: 100% !important;
}

.button-log-out {
    background: #fff;
    i {
        color: #6a7284;
        font-size: 20px;
    }
}