:host {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    height: calc(100% - 65px);

    display: flex;
    justify-content: center;
}