:host {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 400px;
  padding: 20px 30px;

  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sign-up-helper-text, .login-error {
  color: #6a7284;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

.login-error {
  color: #ff3838;
}

.sign-up-helper-text:hover {
  color: #4d4f5c;
  cursor: pointer;
}