<div class="login-form">
    <h1>Wellbeing-app</h1>
    <input
        type="text"
        name="email"
        placeholder="Email"
        [(ngModel)]="email"
        [class.input-invalid]="isUserInputValid === false"
        [ngClass]="{'input-invalid':isUserInputValid === false}"
        (keypress)="changeValidationToValid()"
        (paste)="changeValidationToValid()">
    <input
        type="password"
        name="password"
        placeholder="Password"
        [(ngModel)]="password"
        [ngClass]="{'input-invalid':isUserInputValid === false}"
        (keypress)="changeValidationToValid()"
        (paste)="changeValidationToValid()">

    <p class="login-error">{{loginError}}</p>
    <button class="button-1" (click)="login()">Login</button>
    <p class="sign-up-helper-text" (click)="redirectToRegister()">You don't have an account? Register now!</p>
</div>