/* You can add global styles to this file, and also import other style files */
$black: #6a7284;
$gray-1: #dee2ec;
$red: #ff3838;

$font-size-1: 28px;
$font-size-3: 16px;

html, body { 
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

p {
  font-family: Roboto, sans-serif;
  font-size: $font-size-3;
  color: $black;
}

body { 
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #FAFAFA;
}

h1 {
    color: $black;
    font-size: $font-size-1;
    font-family: "Roboto", sans-serif;
    letter-spacing: 3px;
}

.bold {  
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

input {
    width: 335px;
    height: 35px;
    padding-left: 20px;
    background-color: white;

    border-color: $gray-1;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;

    font-family: "Roboto", sans-serif;
    font-size: $font-size-3;
    color: #6a7284;
    margin: 10px;
  
  &::placeholder {
    color: #dee2ec;
  }
  
  &:hover {
    border-color: #55efc4;
    transition: 0.3s ease;
  }
  
  &:focus {
    border-color: #55efc4;
    outline: none;
  }
}

.input-invalid {
    border-color: $red;
}

.button-1 {
    min-width: 200px;
    height: 35px;
    margin: 20px;

    outline: none;
    cursor: pointer;

    border-style: solid;
    border-color: #55efc4;
    border-width: 2px;
    border-radius: 17px;

    background-color: #55efc4;
    box-shadow: 0px 5px 10px rgb(85, 239, 196, 0.3);

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
  
  &:hover {
    background-color: #50e0b8;
    border-color: #50e0b8;
  }
  
  &:focus {
    outline: none;
  }
}