<div>
    <canvas *ngIf='isInitialize'
            baseChart
            [datasets]="demoradarChartData"
            [labels]="demoradarChartLabels"
            [chartType]="radarChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
</div>