<!-- <canvas baseChart            
        [datasets]="labelMFL"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [chartType]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas> -->
<div class="charts"></div>